[submodule "swap-benchmarks/gapbs"]
	path = swap-benchmarks/gapbs
	url = https://github.com/SepehrDV2/gapbs.git
[submodule "swap-microbenchmarks/mmapbench"]
	path = swap-microbenchmarks/mmapbench
	url = https://github.com/SepehrDV2/mmap-anon-benchmarks.git
[submodule "linux"]
	path = linux
	url = https://github.com/SepehrDV2/linux.git
